#tabBlocker_overlay {
    position: fixed;
    inset: 0;

    width: 100vw;
    height: 100dvh;

    margin: 0;
    border: none;
    padding: 0;

    background: rgba(0, 0, 0, 0.95);
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    z-index: 2147483647;
}

.tabBlocker_overlay-content > h1{
    font-size: 100px;
}

#tabBlocker_overlay-timer{
    font-size: 50px;
}